<div class="mt-4 d-flex justify-content-center pr-2">
  <button class="tablink" data-attr="Daily" id="defaultOpen">Daily</button>
  <button class="tablink" data-attr='month_to_date'>Month to Date</button>
  <button class="tablink" data-attr='Monthly'>Monthly</button>

  <div class="p-3">
    <label>Select Date</label>
    <input type="text" class="radius10 shadow report-date" id="dateSelector" placeholder="mm/dd/yy" />
  </div>
  <div class="p-3">
    <label></label>
      <%= link_to "Add new Glucose Reading", new_patients_glucose_readings_path %>
  </div>

</div>

<div id="inner_body">
  <%= render partial: 'inner_body', locals: { daily_report: @daily_report, month_to_date_report: @month_to_date_report, monthly_report: @monthly_report } %>
</div>

<script>
  $(document).ready(() => {
    // Get the element with id="defaultOpen" and click on it

    $(".tablink").on("click", function(event) {
    // Hide all elements with class="tabcontent" by default */
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Remove the background color of all tablinks/buttons
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "white";
      }

      // Show the specific tab content
      document.getElementById($(this).attr('data-attr')).style.display = "block";

      // Add the specific color to the button used to open the tab content
      $(this).css({'background-color': 'DodgerBlue'})
    });

    document.getElementById("defaultOpen").click();
  });
</script>